



*{
  font-family: Space Grotesk;
    background-color: #36454F ;
    color: white;
    text-align: center;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 200ch;
  padding: .1rem;
  line-height: 1;
}
h1 {
  margin: .5rem 0;
  font-size: 2.5rem;
}

a {
     color: white;
     text-decoration: none;
}


.menu {
  background-color: #0d0950;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px 10px;
}
:has(.menu[aria-expanded="true"]) .nav-links {
  display: unset;
}


.icon {
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
}

.icon img {
  width: 32px;
  height: 32px;
  display: block;
}



