---
const title = 'hobbies'
const hobbiess = [ "hobby1", "hobb2", "obb3"]
import Main from "../layouts/main.astro"
---
<Main>
    <u1> {hobbiess.map((hobby) => <li>{hobby}</li>)} </u1>

</Main>


<body>
 
</body>