---

//import Social from './Social.astro';

---

<h5>Crafted with 
 <a href='https://ko-fi.com/bjwav '> <img src="../public/footer.svg" alt="Photo" width="25" height="25"/> </a> 

<!-- <Social platform="github" username="withastro" />
<Social platform="youtube" username="astrodotbuild" /> -->

<style>
h5 {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:  transparent;
  color: white ;
  text-align: center;}

</style>
