---
const { size = 32 } = Astro.props;
---

<a href="/" class="icon" aria-label="Go to homepage">
  <img 
    src="../public/favicon.svg" 
    alt="Home" 
    width={size} 
    height={size}
    style="display: block;"
  />
</a>